<mat-card class="hover:cursor-pointer hover:!shadow-lg hover:scale-105 hover:duration-200 h-full">
    <mat-card-header class="mb-2 flex flex-row items-center justify-center space-x-2">
        <p class="text-xl">
            {{ item.name }}
        </p>
        <div class="relative bottom-0.5">
            <img class="w-8 h-8" [src]="item.logo">
        </div>
    </mat-card-header>
    <mat-card-content>
        <mat-divider />
        <div class="mt-2 flex flex-col space-y-2">
            <p>{{ item.description }}</p>
            <p class="font-thin">Data Structure: {{ item.dataStructure }}</p>
            <p class="font-thin">Number of Records: {{ item.numRecords }}</p>
            <p class="font-thin">Number of Fields: {{ item.numFields }}</p>
            <p class="font-thin">Date Added: {{ item.dateAdded }}</p>
            <ul class="mt-2 mb-3 flex flex-row items-center justify-evenly">
                @for(subItem of item.fileTypes; track $index) {
                <li class="bg-gray-200 border-gray-400 rounded-xl p-2">{{ subItem }}</li>
                }
                @for(subItem of item.tags; track $index) {
                <li class="bg-gray-200 border-gray-400 rounded-xl p-2">{{ subItem }}</li>
                }
            </ul>
        </div>
        <!-- <mat-divider /> -->
    </mat-card-content>
    <!-- <mat-card-actions class="flex items-center justify-center">
        <a [href]="item.githubLink" target="_blank">
            <button matButton="tonal">View on Github</button>
        </a>
    </mat-card-actions> -->
</mat-card>