<div class="flex flex-row items-center justify-between">
  <h2 class="relative left-5 top-1 text-xl">{{ data.name }}</h2>
  <mat-dialog-actions class="relative top-1">
    <button matIconButton mat-dialog-close (click)="closeAnalysisWindow()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
<div class="px-4">
  <mat-divider />
</div>
<mat-dialog-content>
  <p>If the notebook fails to load or does not render all analysis code blocks, the GitHub API may be rate-limited. Try the <strong>"View on GitHub"</strong> button.</p>
  @if(safeUrl) {
    <iframe [src]="safeUrl" width="100%" height="100%" frameborder="0"></iframe>
  }
</mat-dialog-content>
<mat-dialog-actions class="relative top-12">
  <a [href]="data.githubLink" target="_blank">
    <button matButton="tonal">View on Github</button>
  </a>
</mat-dialog-actions>