<div class="flex flex-row items-center justify-between">
  <h2 mat-dialog-title>{{ data.name }}</h2>
  <mat-dialog-actions>
    <button matIconButton mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
<div class="px-4">
  <mat-divider />
</div>
<mat-dialog-content>
  {{ data.description }}
</mat-dialog-content>
<mat-dialog-actions>
  <a [href]="data.githubLink" target="_blank">
    <button matButton="tonal">View on Github</button>
  </a>
</mat-dialog-actions>